Package: io.github.virenmohindra.rainy
Name: Rainy - Springy BootLogo
Depends: com.aditkamath.springy
Version: 2.0
Architecture: iphoneos-arm
Description: Animated respring theme for Springy. Credit: /u/ohfuckitslit
Depiction: http://virenmohindra.github.io/depictions/Rainy
Maintainer: Viren Mohindra <viren.mohindra@gmail.com>
Author: Viren Mohindra <viren.mohindra@gmail.com>
Section: Addons (Springy)
