Package: io.github.virenmohindra.pizza-hi
Name: Pizza Hi - Springy BootLogo
Depends: com.aditkamath.springy
Version: 2.0
Architecture: iphoneos-arm
Description: Animated respring theme for Springy. [1920x1080]
Depiction: http://virenmohindra.github.io/depictions/Pizza Hi
Maintainer: Viren Mohindra <viren.mohindra@gmail.com>
Author: Viren Mohindra <viren.mohindra@gmail.com>
Section: Addons (Springy)
