Package: io.github.virenmohindra.time-and-money
Name: Time And Money - Springy BootLogo
Depends: com.aditkamath.springy
Version: 2.0
Architecture: iphoneos-arm
Description: Animated respring theme for Springy
Depiction: http://virenmohindra.github.io/depictions/Time And Money
Maintainer: Viren Mohindra <viren.mohindra@gmail.com>
Author: Viren Mohindra <viren.mohindra@gmail.com>
Section: Addons (Springy)
